{#
/**
 * @file
 * BrightTALK player.
 */
#}

{# Channel ID is always used, make sure we have a number. #}
{% if channel_id is not empty %}

  <script src="https://www.brighttalk.com/clients/js/player-embed/player-embed.js" class="jsBrightTALKEmbed">
    { "channelId": {{ channel_id }}, "commid" : {{ webcast_id }}, "height" : "2000", "width" : "100%", "displayMode" : "channelList", "environment" : "prod", "language" : "en-us", "theme" : "default", "categories" : "Webinars", "noFlash" : false, "track" : "", "inlineContent" : false }
  </script>



{% endif %}
